
body{
  background-color: #86b7fe;
}


.container-stu{
  width: 290px;
  margin: 0 auto;
}
/*Esto estaba en result.html*/
.card-resul{
  margin: 22px;
  width: 740px;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.15);
  display: grid;
  grid-template-columns: 117px 505px;
  gap: 1rem;
  padding: .4rem 2rem;
  position: relative;
}
.card-resul h5{
color: #0099ff;
font-size: medium;
}
.card-resul h4{
font-size: medium;
}

.image {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.image a ,.lef a {
  display: inline-block;
  padding: .25rem .5rem;
  background-color: #0099ff;
  color: #fff;
  text-decoration: none;
  border-radius: .5rem;
}

.info {
  list-style: none;
  display: flex;
  gap: .7rem;
  padding-left: 0;
}

.info:nth-child(1) { /* El primer elemento con la clase .info */
  border-bottom: 1px solid #000;
  /*padding-bottom: 0.1rem;*/
}
.carnet {
  font-weight: bold;
  position: absolute;
  right: 12px;
  top: 10px;
  color: #0018a0;
}
#uwu{
  width: 130px;
  height: 130px;
  border-radius: 10px;
}
.lef{
  position: absolute;
  right: 12px;
  bottom: 10px;
}
.info-container{
  margin-top: 35px;
}
.container-card{
  overflow-y: auto;
  max-width: 850px;
  max-height: 570px;
}
.result-container{
  display: grid;
  grid-template-columns: 850px 100px;
}
.optionsuwu{
  width: 355px;
  background-color: #ffffff;
  border-radius: 10px;
  height: 35rem;
  position: relative;
  right: 75px;
  top: 1px;
}
/*FIN*/
/*Estilos Layout*/
.container-sidebar {
  margin: 0;
  display: grid;
  grid-template-columns: 200px auto;
  height: 100vh;
  overflow: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a ,h1{
   text-decoration: none;
   color: #6285f8;
}
/* #region header */
.sidebar {
  
  background-color:#212529;;

  border-bottom: 1px solid #000;
  padding: 0 .75rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.options {
  list-style: none;
  padding-left: 0;
  overflow-y: auto;
}

.option {
  padding: .5rem;
  border-radius: .325rem;
}

.option:hover {
  background-color: rgb(176, 186, 221);
  user-select: none;
}

.option svg {
  vertical-align: middle;
}

.option span {
  font-weight: bold;
}

.bottom-sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.bottom-sidebar h2 {
  margin: 0;
}

.options.menu {
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
}

/* #endregion */


/* #region header */
.header-page {
  background-color: #86b7fe;
  padding: 0 .7rem; /* 1 REM === 16PX */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
}

.left {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.title-page {
  font-weight: 500;
  font-size: 1rem;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: white;
  border: 1px solid #000;
  padding:  .25rem;
  border-radius: 30px;
  overflow: hidden;
}

.search-input {
  border: none;
  outline: transparent;
  padding: 2px;
}
#owo[open]{
  background-color: #212529;
}
/* #endregion */

.container-table{
  display: flex;
  width:100%;
  margin-top: 5%;
  background-color: white;
}
.fecha{
  position:relative; left:5rem;
}
.hora{
  display:flex; margin:3%; left:8rem;
  justify-content: center;
  gap: 30px;
}
#card , #info{

  box-shadow: 0px 9px 33px 4px rgba(21,29,235,0.83);
  
  transition: all 400ms ease;
}
#card:hover, #info{
  box-shadow: 10px 10px 10px 10px rgba(27, 41, 235, 0.2);
}
/*Esto es de el template result*/
.rows{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding: 5px;
  margin: 10px;
  column-gap: 8px;
  margin-left: 5%;
}
/*Viene luego del main*/
.container{
  display: flex;
  justify-content: center;
  margin-top: 5%;
  max-width: 65%;
 
}
.img-QR{
  margin-top: 4rem;
}

#card-result{
  padding: 3%;
  display: grid;
  grid-template-columns:300px 580px;
  box-shadow: 0px 9px 33px 4px rgba(21,29,235,0.83);

}
#combobox{
  max-width: 80%;
  margin-bottom: 5%;
  border-radius: 30px;
}
.combo ,.xd, .botom{
  display: flex;
  justify-content: center;
  gap: 5px;
}

/*New Input xd*/
.input {
  border: none;
  margin: 4px;
  outline: none;
  border-radius: 30px;
  padding: 10px;
  width: 270px;
  background-color: #ccc;
  box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
  transition: 300ms ease-in-out;
}

.input:focus {
  background-color: white;
  transform: scale(1.05);
  box-shadow: 13px 13px 100px #969696,
             -13px -13px 100px #ffffff;
}
  /*Boton*/
  #btn {
  
   
    padding: 0.5em 1.9em;
    font-size: 16px;
    border: none;
    background: #6285f8;
    color: white;
    cursor: pointer;
    position: relative;
    z-index: 1;
   }
   
   #btn:hover {
    color: rgb(255, 255, 255);
   }
   
   #btn::before,#btn::after {
    content: "";
    border-radius: 10px;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: rgba(128, 128, 128, 0.096);
    backdrop-filter: blur(10px);
    z-index: -1;
    transition: all 0.4s;
   }
   
   #btn::after {
    z-index: -2;
    transition: all 0.4s;
   }
   
   #btn:hover::before {
    background: rgb(0, 0, 0, 0.315);
    border-radius: 10px;
   }
   
   #btn:hover::after {
    background: linear-gradient(to right, #cb6ce6, #38b6ff);
    border-radius: 10px;
    transform: scale(1.07, 1.2) rotateX(180deg);
   }

   /*Scanner*/
   #scanner-container {
    position: relative;
    width: 320px;
    height: 240px;
  }
 #preview{
    display: flex;
    position: relative;
    bottom: -5rem;
    left: 2px;
    max-width: 180vh;
    border-radius: 30px;
    background-color: rgba(52, 189, 231, 0.322);

 } 
  #qr-canvas {
    display: none;
  }
  
  #scan-line {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 2px;
    background-color: red;
    animation: scan 1.5s infinite;
  }
  
  #scanner-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 50%;
    border: 2px solid grey;
    border-radius: 10px;
    z-index: 1;
  }
  
  .qr-area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 40%;
    border: 2px solid rgb(17, 0, 250);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1;
  }
  /*Del template con informacion general de alumnos*/
  .info-container{
    width: 100%;
    text-align: center;
    border-radius: 30px;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.6);
   }
   .img-container{
     width: 300px;
     height: 300px;
     border-radius: 30px;
     padding: 3px;
   }
   .info-container, .img-container{
     box-shadow: 5px 5px 6px 1px rgba(0,0,0,0.75);
     
   }
   .card-container{
    background-color: white;
    box-shadow: 0px 9px 33px 4px rgba(21,29,235,0.83);
    transition: all 400ms ease;
    padding: 3%;
    display: grid;
    border-radius: 15px;
    grid-template-columns:300px 400px;
    gap: 15px;
     
  }
  h1 {
    text-align: center;
  }
  .label {
   color: blue;
  
  }
  /*Parte del login y register*/
  .container-register, .container-login{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    color: rgb(2, 2, 2);
}
#input-login{
    border-radius: 30px;
    background-color: white;
    width: 300px;
    margin: 14px;
    padding: 10px;
    left: 18px;
    position: relative;
}

  @keyframes scan {
    0% {
      transform: translate(-50%, -50%);
    }
    100% {
      transform: translate(-50%, 50%);
    }
  }