{%extends "layout.html"%}
{%block main%}

<main>
  <div class="result-container">
    <div class="container-card">
        {%if query == 1%}
       <div class="card-resul">
       <div class="image">
         <img src="{{Info[5]}}" alt="Código QR" id="uwu">
         <a href="/Imagen/{{Info[0]}}" download='{{Info[0]}}.png'>Download</a>
       </div>
       <div class="info-containere">
         <ul class="info">
           <li>
             <h5>Student Name</h5>
             <span><h4>{{Info[1]}}</h4></span>
           </li>
           <li>
             <h5>Carnet</h5>
             <span><h4>{{Info[2]}}</h4></span>
           </li>
           <li> 
             <h5>Career</h5>
             <span><h4>{{Info[6]}}</h4></span>
           </li>
          
         </ul>
         <ul class="info xd">
          <li>
            <h5>Year</h5>
            <span><h4>{{Info[7]}}</h4></span>
          </li>
          <li>
          </h5>Phone</h5>
          <span><h4>{{Info[4]}}</h4></span>
          </li>
          <li>
          <h5>E-Mail</h5>
          <span><h4>{{Info[3]}}</h4></span>
          </li>
          <div class="lef">
          <a href="#">Edit</a>        
          <a href="#" style='background-color: red;'>Delete</a>
          </div>
         </ul>
       </div>
       <span class="carnet">{{Info[0]}}</span>
       </div>
       {%else%}
       {%for Info in Info%}
       <div class="card-resul">
        <div class="image">
          <img src="{{Info[5]}}" alt="Código QR" id="uwu">
          <a href="/Imagen/{{Info[0]}}" download='{{Info[0]}}.png'>Download</a>
        </div>
        <div class="info-containere">
          <ul class="info">
            <li>
              <h5>Student Name</h5>
              <span><h4>{{Info[1]}}</h4></span>
            </li>
            <li>
              <h5>Carnet</h5>
              <span><h4>{{Info[2]}}</h4></span>
            </li>
            <li> 
              <h5>Career</h5>
              <span><h4>{{Info[6]}}</h4></span>
            </li>
           
          </ul>
          <ul class="info xd">
            <li>
              <h5>Year</h5>
              <span><h4>{{Info[7]}}</h4></span>
            </li>
           <li>
           <h5>Phone</h5>
           <span><h4>{{Info[4]}}</h4></span>
           </li>
           <li>
           <h5>E-Mail</h5>
           <span><h4>{{Info[3]}}</h4></span>
           </li>
           <div class="lef">
           <a href="#">Edit</a>        
           <a href="#" style='background-color: red;'>Delete</a>
           </div>
          </ul>
        </div>
        <span class="carnet">{{Info[0]}}</span>
        </div>
        {%endfor%}
       {%endif%}
     </div>
     <div class="optionsuwu">
      <h1>Student Registration</h1>
      <form action="/RegistroAlumno" method="post">
          <div class="container-stu">
            <div class="xd">
              <input type="text" class="input" name='Nombre' placeholder='Nombre' required="">
            </div>
            <div class="xd">
              <input type="text" class="input" name='Carnet' placeholder='Carnet' required="">
            </div>
            <div class="xd">
              <input type="text" class="input" name='Correo' placeholder='Correo' required="">
            </div>
            <div class="xd">
              <input type="text" class="input" name='Telefono' placeholder='Telefono' required="">
            </div>
            
            <div class="combo">
              <select class="form-select" id='combobox' name='Carrera' required="">
                  <option selected>Selecting a career</option>
                {%for carr in carreras%}
                <option value="{{carr[0]}}">{{carr[1]}}</option>
                {%endfor%}
            </select>
            </div>
             <div class="combo">
               <select class="form-select" id='combobox' style='width: 55%;' name='Año' required="">
                <option selected>Select a academic year</option>
                 {%for Año in Años%}
                 <option value="{{Año[0]}}">{{Año[1]}}</option>
                 {%endfor%}
                </select>
             </div>
      
            <div class="botom" style='position: relative; left:-5%;'>
             <button type='submit'class='btn' id='btn'>
              Student Registration
            </button>
            </div>

        </div>
    </form>
     </div>
  </div>
  
</main>
<body>

{%endblock%}