{%extends "layout.html"%}
{% block title%}
Asignaciones
{% endblock%}
{%block main%}
<style>  
    #combobox{
      position: relative; left:4rem
    }
    #img{
      width: 300px;
      height: 300px;
    }
</style>
<div class="parent">
    <div class="card-container" style='width: 800px;'>
      <div class="img-asig">
        <img src="/static/img/maestro.gif" id='img'>
      </div>
        <div class="register">
            <h1>Asignaciones</h1>
            <form action="/RegistroAsignaciones" method="post">
              <select class="form-select" id='combobox' style='width: 55%;' name='Maestros' required="">
                <option selected>Select the teach</option>
                {%for maestro in maestros%}
                <option value="{{maestro[0]}}"{%if edit[8]== maestro[0]%}selected{%endif%}>{{maestro[1]}}</option>
                {%endfor%}
                </select>
                <select class="form-select" id='combobox' style='width: 55%;' name='Clase_Id' required="">
                    <option selected>Select the class to teach</option>
                    {%for clase in clases%}
                    <option value="{{clase[0]}}"{%if edit[9]== clase[0]%}selected{%endif%}>{{clase[1]}}</option>
                    {%endfor%}
                </select>
                  {%if edit != "XD"%}        
                    <div class="hora">
                      <div class="horaInicio">
                        <label for="">Start Time</label>
                        <input type="time" name="HoraInicio" style="border-radius: 30px;text-align: end;" {% if edit != "XD" %} value="{{ hr[1] }}"
                        {% endif %}/>
                      </div>
                      <div class="horafinal">
                        <label for="">Final Time</label>
                        <input type="time" name="HoraFinal" style="border-radius: 30px;text-align: end;" 
                              {% if edit != "XD" %} value="{{hr[2]}}"{% endif %} />   
                      </div>
                    </div> 
                    {% else %}
                      <div class="hora">
                      <div class="horaInicio">
                        <label for="">Start Time</label>
                        <input type="time" name="HoraInicio" style="border-radius: 30px;text-align: end;"/>
                      </div>
                      <div class="horafinal">
                        <label for="">Final Time</label>
                        <input type="time" name="HoraFinal" style="border-radius: 30px;text-align: end;" />   
                      </div>
                      </div>
                    {%endif%}
                    
                    <select class="form-select" id='combobox'  name='Dia_Id'style='position: relative; left:4rem'  required="">
                    <option selected>Select a Day</option>
                      {%for dia in dias%}
                      <option value="{{dia[0]}}" {%if edit[4]== dia[0]%}selected{%endif%} >{{dia[1]}}</option>
                      {%endfor%}
                    </select>
                    <select class="form-select" id='combobox'  name='Lugar_Id'style='position: relative; left:4rem'  required="">
                    <option selected>Select a Place</option>
                      {%for lugar in lugares%}
                      <option value="{{lugar[0]}}"{%if edit[5]== lugar[0]%}selected{%endif%} >{{lugar[1]}}</option>
                      {%endfor%}
                    </select>
                
                  <div class="botom">
                    <input type="hidden" name="Id" value="{{ edit[1] if edit != XD else '' }}">
                    <button id='btn' type='submit'class='btn btn-primary'>
                      {%if edit != "XD"%}
                        Editar
                      {%else%}
                      Registrar
                      {%endif%}
                    </button>
                    <!-- Button trigger modal -->
                    <button id='btn' type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                      Ver Registros
                    </button>
                  </div>
                    
                </div>
    </div>
</div>
</form>
        
              <!-- Modal -->
              <div class="modal fade modal-lg " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">Registro de Asignaciones</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Inicio</th>
                            <th scope="col">Fin</th>
                            <th scope="col">Classe</th>
                            <th scope='col'>Docente</th>
                            <th scope='col'>Place</th>
                            <th scope='col'>Day</th>
                            <th scope='col'>Update</th>
                            <th scope='col'>Delete</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            {%for asig in xd%}
                            <th scope="row">{{asig[0]}}</th>
                            <td>{{asig[1]}}</td>
                            <td>{{asig[2]}}</td>
                            <td>{{asig[3]}}</td>
                            <td>{{asig[4]}}</td>
                            <td>{{asig[6]}}</td>
                            <td>{{asig[5]}}</td>
                            <td>
                              <a href="/EditarAsignacion/{{asig[0]}}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                  <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                </svg>
                              </a>
                            </td>
                            <td>
                              <a href="/EliminarAsignacion/{{asig[0]}}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                  <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                </svg>
                              </a>
                            </td>
                          </tr>
                          {%endfor%}
                        </tbody>
                      </table>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
{%endblock%}