<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style_layout.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/static/style.css">
    <title>Asistencia</title>
</head>
<body>
    <div class="container-nav">
        <div class="navigation">
            <ul>
                <li>
                    <a href="/">
                        <span class='icon'><i class="bi bi-github"></i></span>
                        <span class='title'>SkyTech</span>
                    </a>
                    <hr style='color: aliceblue;'>
                </li>
                <li>
                    <a href="/Asistencia">
                        <span class='icon'><i class="bi bi-qr-code-scan"></i></span>
                        <span class='title'>Attendance</span>
                    </a>
                </li>

                <li>
                    <a href="/RegistroAlumno">
                        <span class='icon'><i class="bi bi-mortarboard-fill"></i></span>
                        <span class='title'>Students</span>
                    </a>
                </li>

                <li>
                    <a href="/RegistroDocentes">
                        <span class='icon'><i class="bi bi-cup-hot-fill"></i></span>
                        <span class='title'>Teachers</span>
                    </a>
                </li>

                <li>
                    <a href="/RegistroClases">
                        <span class='icon'><i class="bi bi-book-fill"></i></span>
                        <span class='title'>Classes</span>
                    </a>
                </li>

                <li>
                    <a href="/RegistroAsignaciones">
                        <span class='icon'><i class="bi bi-people-fill"></i></span>
                        <span class='title'>Asignaciones</span>
                    </a>
                </li>

                <li>
                    <a href="/Horario">
                        <span class='icon'><i class="bi bi-calendar-week-fill"></i></span>
                        <span class='title'>Horario</span>
                    </a>
                </li>
                <hr style='color: aliceblue;'>
                <li>
                    <a href="/Logout">
                        <span class='icon'><i class="bi bi-box-arrow-in-right"></i></span>
                        <span class='title'>Sign Out</span>
                    </a>
                </li>
            </ul>    
        </div>
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <i class="bi bi-list"></i>
                </div>
                <!-- Search -->
                <form action='/Search' method='POST'>
                    <div class="search">
                        <label>
                            <input type="text" name="Search-Input" placeholder='Search Here'>
                            <button type="submit"><i class="bi bi-search"></i></button>
                        </label>
                    </div>
                </form>

                <!--User Img-->
            </div>
            <section class='content'>
                {% if get_flashed_messages() %}
                <div class="alert alert-primary border text-center alert-dismissible" role="alert"> 
                {{ get_flashed_messages() | join(" ")}}
                <div class="btn-alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>    
                </div>
                </div>
                {% endif %}
                {%block main%}
                {%endblock%}
            </section>
            <footer class='footer'>
            <p style='text-align: end; padding:5px;'>&copy; SkyTech 2023</p>
            </footer>
        </div>
    </div>
    <script>
        //Menu Toogle
        let toggle = document.querySelector('.toggle');
        let navigation = document.querySelector('.navigation');
        let main = document.querySelector('.main');

        toggle.onclick = function(){
            navigation.classList.toggle('active');
            main.classList.toggle('active');
        }

        //Add Hover xd
        let list = document.querySelectorAll('.navigation li');
        function activeLink(){
            list.forEach((item) => 
            item.classList.remove('hovered'));
            this.classList.add('hovered');
        }
        list.forEach((item) => 
        item.addEventListener('mouseover', activeLink));
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>