{%extends "layout.html"%}
{%block main%}
<style>
    #input-login{
        left: 0px;
    }
    #a{
        position: relative;
        left: 40px;
    }
</style>
<div class="container-login">
    <div class="card-container" style='grid-template-columns: 1fr;  background-color:#212529;;'>
        <form action="/Login" method="post">
            <h1>Iniciar Session</h1>
            <input type="text" class="form-control" id='input-login' placeholder="Username" name='Username' aria-describedby="addon-wrapping">
            <input type="password" class="form-control" id='input-login' placeholder="Password" name='Password' aria-describedby="addon-wrapping">
              <div class="botom">
                <button type='submit'class='btn' id='btn'>
                  Iniciar Session
               </button>
            </div>
            <a href="/RegistroUsuario" id='a'>No tenes una cuenta? Registrate</a>
        </form>
    </div>
</div>
{%endblock%}