{%extends "layout.html"%}
{%block main%}
<style>
  li, ul{
    color: white;
    margin-top: none;
    
  }
  #inf{
    border-bottom: none;
    position: relative;
    top: 7px;
    padding:0px;
  }
  #car{
     width:max-content;
     background-color: #212529;
     padding:5px;
  }
</style>
<main>
  <div class="container" style='max-width: 100%;'>
      <div class="card-container boder-light" style='grid-template-columns: 525px 430px;'>
          <div class="img" style='overflow-x: auto;'>
            {%for info in clases%}
              <div class="card" id='car'>
                 <ul class='info' id='inf'>
                   <li><span>Codigo = {{info[1]}}</span></li>
                   <li><span>Clase = {{info[2]}}</span></li>
                   <li><span>Inicio = {{info[3]}}</span></li>
                   <li><span>Final = {{info[4]}}</span></li>
                   <li><span>Dia = {{info[5]}}</span></li>
                   <li><span>Carrera = {{info[6]}}</span></li>
                   <li><span>Lugar = {{info[7]}}</span></li>
                 </ul>
              {%endfor%}                       
            </div>
          </div>
          <form action="/RegistroClases" method="post">
            <h1>Class Registration</h1>
               <div class="xd" style='margin:0 auto; width: 300px;'>
                   <input type="text" class="input" name='Nombre' style='width:320px;' required="">
                 </div>
                           
                 <div class="hora">
                     <div class="horaInicio">
                         <label for="">Start Time</label>
                         <input type="time" name="HoraInicio" style="border-radius: 30px;text-align: end;">   
                      </div>
                      <div class="horafinal">
                          <label for="">Final Time</label>
                          <input type="time" name='HoraFinal'style="border-radius: 30px;text-align: end;" >
                     </div>
                 </div>
                 <select class="form-select" id='combobox'  name='Dia_Id'style='position: relative; left:4rem'  required="">
                  <option selected>Select a Day</option>
                   {%for dia in dias%}
                   <option value="{{dia[0]}}">{{dia[1]}}</option>
                   {%endfor%}
                 </select>
                 <select class="form-select" id='combobox' name='Carrera_Id' style='position: relative; left:4rem' required="">
                     <option selected>Select a career</option>
                   {%for carrera in carreras%}
                   <option value="{{carrera[0]}}">{{carrera[1]}}</option>
                   {%endfor%}
               </select>
           <select class="form-select" id='combobox'  name='Lugar_Id'style='position: relative; left:4rem'  required="">
             <option selected>Select a location</option>
              {%for lugar in lugares%}
              <option value="{{lugar[0]}}">{{lugar[1]}}</option>
              {%endfor%}
            </select>
               <div class="botom">
                   <button type='submit' id='btn' class='btn'>
                    Class Registration
                  </button>
               </div>
           </form>
        </div>
      </div>
</main>
{%endblock%}