{%extends "layout.html"%}
{%block main%}
<style type="text/css">
  body{
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont,'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans','Helvetica Neue', sans-serif;
  /*background-image:linear-gradient(90deg,#A890FE 5%,#5FFAE0 100%);*/
}
.card{
  display: grid;
  margin-left: 14px;
  grid-template-rows:67px 149px, 0px;
  margin-top:2rem;
  align-items: center;
  text-align: center;
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  max-width: 24%;
  height: 80%;
  box-shadow: 5px 10px 2px 1px rgba(12, 12, 12, 0.2);
}

#card-clases{
  justify-content: center;
  height: 11rem;
  padding: 3%;
  margin:0;
}
.card-content{
  text-align: center;
  padding: 0 15px;
  bottom: 40px;
}
.card-content h2{
  font-size: 22px;
  color: darkblue;
}
.card-content p{
  color: #626262;
}
.scan-container{
  display: flex;
  justify-content: center;
}
</style>
</head>
<body>
  <div class="scan-container">
    <div class="card border-dark mb-3" id='container'>
    <div class="Reloj">
      <h2><i class="bi bi-qr-code-scan"></i></h2>  
      <h2>Actual Time</h2>
      <h4 id='clock'></h4> 
    </div>
    <div class="card-content">
      Student Code
      <h2 class="site-backdrop" style='padding:3%;'></h2>
      <button type='button' class='btn btn-dark' id="oncamera" style='left:4px;'><i class="bi bi-camera-video-fill"></i></button>
      <button type="button" class="btn btn-dark" id='offcamara' style="left:4px;"><i class="bi bi-camera-video-off-fill"></i></button>
    </div>
    <br>
    <div class="card border-dark mb-3" style="max-width: 16rem;" id='card-clases'>
      <div class="card-body">
        <h3 id='clase_Actual'></h3>
        <h5 style='color: red;' id='hora_final'></h5>
        <span>
          <!-- Button trigger modal -->
<button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  <i class="bi bi-people-fill"></i>  0
</button>
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Registro de Asistencia</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <table class="table table-dark table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Fecha</th>
                  <th scope="col">Estudiante</th>
                  <th scope="col">Carnet</th>
                  <th scope='col'>E-Mail</th>
                  <th scope='col'>Telefono</th>
                </tr>
              </thead>
              <tbody>
                {%for a in xd%}
                <tr>
                  <th scope="row">{{a[0]}}</th>
                  <td>{{a[1]}}</td>
                  <td>{{a[2]}}</td>
                  <td>{{a[3]}}</td>
                  <td>{{a[4]}}</td>
                  <td>{{a[5]}}</td>
                </tr>
                {%endfor%}
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
        </span>
      </div>
    </div>
    </div>
    <div class="user-info">
      <video id="preview" onclick='scanner.start()'></video>
    </div>
  </div>
<script type='text/javascript' src="/static/script/jquery.min.js"></script>
<script type='text/javascript'  src="/static/script/instascan.min.js"></script>
<script type='text/javascript'  src='/static/script/clock.js'></script>
<script src="/static/script/clase_actual.js"></script>
<script type='text/javascript' src='/static/script/scn.js'></script>
{%endblock%}