{%extends "layout.html"%}
{%block main%}
<div class="container-register">
    <div class="card-container" style='grid-template-columns: 1fr;  background-color:#212529;'>
        <form action="/RegistroUsuario" method="post">
            <h1>Registro de Usuarios</h1>
                <input type="text" class="form-control" id='input-login' placeholder="Username" name='Username' aria-describedby="addon-wrapping">
                <input type="password" class="form-control" id='input-login' placeholder="Password" name='Password' aria-describedby="addon-wrapping">
                <input type="password" class="form-control" id='input-login' placeholder="Password Confirm" name='Password-Confirm' aria-describedby="addon-wrapping">
                <select class="form-select" id='combobox' name='Rol' required="" style='max-width: 50%; position: relative; left: 81px;'>
                    <option selected>Seleccione su Rol</option>
                    {%for rol in roles%}
                    <option value="{{rol[0]}}">{{rol[1]}}</option>
                    {%endfor%}
                </select>
            <div class="botom">
                <button type='submit'class='btn' id='btn' style=' position:relative; left: 7rem;'>
                            Registrar
                </button>
        </div>
        <a href="/Login" id='a' style='position: relative; left:50px;'>Ya tenes una cuenta? Inicia Session</a>
        </form>
    </div>
</div>
{%endblock%}