{%extends "layout.html"%}
{%block main%}
<div class="container-datos">

    <div class="container-departamento">
       <div class="mostrar">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Facultad</th>
                <th scope="col">Editar</th>
                <th scope='col'>Eliminar</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>a</td>
                <td>a</td>
              </tr>
            </tbody>
        </table>
       </div>
       <div class="info">

       </div>
    </div>
   <div class="container-carrera">
    <div class="mostrar">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Departamento</th>
                <th scope="col">Editar</th>
                <th scope='col'>Eliminar</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>a</td>
                <td>a</td>
              </tr>
            </tbody>
        </table>
    </div>
    <div class="info">

    </div>
   </div>
    <div class="container-facultad">
        <div class="mostrar">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Editar</th>
                    <th scope='col'>Eliminar</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>a</td>
                    <td>a</td>
                  </tr>
                </tbody>
            </table>
        </div>
        <div class="info">
 
        </div>
    </div>
    <div class="container-lugar">
        <div class="mostrar">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Editar</th>
                    <th scope='col'>Eliminar</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>a</td>
                    <td>a</td>
                  </tr>
                </tbody>
            </table>
        </div>
        <div class="info">
 
        </div>
    </div>
    <div class="container-Anio">
        <div class="mostrar">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Editar</th>
                    <th scope='col'>Eliminar</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>a</td>
                    <td>a</td>
                  </tr>
                </tbody>
            </table>
        </div>
        <div class="info">
 
        </div>
    </div>
</div>
{%endblock%}